
    body {
        display: flex;
        height: 20vh;
        margin: 0;
        background-color: #ffffff;
        font-family: Arial, sans-serif;
        margin: 10px;
        padding: 0px;
       
    }

    .site-header-text {
        display: flex; /* 타이틀과 로고를 가로로 나란히 배치하기 위해 플렉스 박스를 사용합니다. */
        align-items: center; 아이템들을 세로로 가운데 정렬합니다.
    }
    
    .site-header-text img.logo {
        max-width: 50px; /* 로고의 최대 너비를 설정합니다. */
        margin-right: 10px; /* 로고와 타이틀 사이의 간격을 설정합니다. */
    }
    

    .button {
        justify-content: center;
        align-items: center;
        background-color: rgb(205, 122, 227);
        color: white;
        padding: 10px 20px;
        font-size: 20px;
        border: none;
        border-radius: 30px; /* 모서리를 둥글게 만듭니다. */
        cursor: pointer;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
        transition: transform 0.2s, box-shadow 0.2s; /* 호버 효과를 위한 transition 속성 추가 */
        position: absolute; /* 절대 위치 설정 */
        top: 45%; /* 상단에서의 위치를 50%로 지정 */
        left: 47%; /* 좌측에서의 위치를 50%로 지정 */
        transform: translate(-10%, -10%); /* 가운데 정렬을 위해 자신의 크기의 절반만큼 이동 */
   
    }

    .button:hover {
        transform: translateY(-0.3px); /* 호버 시 버튼을 약간 위로 이동합니다. */
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 강화 */
    }

    
 
    
    footer {
        background-color: rgba(255, 255, 255, 0.5); /* 투명한 배경색 추가 */
        color: #000000a2;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        clear: both; /* float을 해제하여 footer가 container를 따라가도록 설정 */
    }
    /* 이곳에 추가적인 스타일이 있다면 여기에 작성하면 됩니다. */